.left-background {
  top: -323px;
  left: -244px;
  width: 1204px;
  height: 1224px;
  /* UI Properties */
  background: #ffa3e6 0% 0% no-repeat padding-box;
  opacity: 1;
}
.right-background {
    top: 221px;
    left: 910px;
    width: 1204px;
    height: 1224px;
    /* UI Properties */
    background: #FFB5EF 0% 0% no-repeat padding-box;
    opacity: 1;
}
